#
# application.yml — главный конфигурационный файл Spring Boot.

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: always
    include-exception: true


spring:
  application:
    name: bank_rest

  datasource:
    url: jdbc:postgresql://localhost:5432/BankRestDB
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      idle-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  liquibase:
    enabled: false
    change-log: classpath:db/changelog/db.changelog-master.yaml

  jackson:
    serialization:
      write-dates-as-timestamps: false

app:
    jwt:
      secret: Fl9MYfBjNsWs2oIq8gX2OmR3ribKPSJhoWvdkshvv53ohvLEATA9Sz+UcJ8OVksVRJEmAIhYLAF1AhyEY5VdXQ==
      access-token-expiration: 3600000        # 1h (ms)
      refresh-token-expiration: 604800000     # 7d



security:
  crypto:
    secret: veryStrongSecretKey123456789

  bcrypt:
    strength: 12

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /v3/api-docs

logging:
  level:
    root: DEBUG
    org.springframework: DEBUG
    com.example.bankcards: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG